<div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th *ngFor="let campo of campos">{{campo}}</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fila of filas">
                <td *ngFor="let campo of campos">{{fila[campo]}}</td>
                <td>
                    <a class="btn btn-sm btn-primary" routerLink="{{urlFormulario}}/{{fila.id}}">Editar</a>
                    <a class="btn btn-sm btn-danger" routerLink="{{urlListado}}" (click)="idBorrar = fila.id" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Borrar</a>
                </td>
            </tr>
        </tbody>
        <tfoot class="table-dark">
            <tr>
                <td *ngFor="let campo of campos"></td>
                <td>
                    <a class="btn btn-sm btn-primary" routerLink="{{urlFormulario}}">Añadir</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<app-modal texto="¿Estás seguro de que quieres borrar id = {{idBorrar}} ?" (confirmacion)="borrar(idBorrar!)"></app-modal>